body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2496fa;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #061d27;
    border-radius: 10px;
    padding: 20px;
    background-color: #40014b;
    box-shadow: 0 0 10px rgba(239, 107, 6, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fe039e;
    color: rgb(142, 206, 5);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #375678;
}